# Ігноруємо віртуальне середовище
venv/
.env
*.pyc
__pycache__/

# Ігноруємо IDE-конфігурації
.vscode/
.idea/

# Логи та кеш
*.log
*.sqlite3

# Ігноруємо документацію та дистрибуцію
build/
dist/
*.egg-info/
